[submodule "ldc"]
	path = ldc
	url = https://github.com/tagion/ldc.git
[submodule "wasi-sdk"]
	path = wasi-sdk
	url = https://github.com/tagion/wasi-sdk.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/tagion/llvm-project.git
[submodule "wasi-libc"]
	path = wasi-libc
	url = https://github.com/tagion/wasi-libc.git
